<?xml version="1.0"?>
<config>
  <modules>
    <Chronostore_Priceoffer>
      <version>0.1.0</version>
    </Chronostore_Priceoffer>
  </modules>
  <frontend>
    <routers>
      <priceoffer>
        <use>standard</use>
          <args>
            <module>Chronostore_Priceoffer</module>
            <frontName>priceoffer</frontName>
          </args>
      </priceoffer>
    </routers>
		<layout>
		  <updates>
			<priceoffer>
			  <file>priceoffer.xml</file>
			</priceoffer>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <priceoffer>
        <class>Chronostore_Priceoffer_Helper</class>
      </priceoffer>
    </helpers>
	<blocks>
	  <priceoffer>
		<class>Chronostore_Priceoffer_Block</class>
	  </priceoffer>
	</blocks>
	<models>
	  <priceoffer>
		<class>Chronostore_Priceoffer_Model</class>
		<resourceModel>priceoffer_mysql4</resourceModel>
	  </priceoffer>
	  <priceoffer_mysql4>
		<class>Chronostore_Priceoffer_Model_Mysql4</class>
		<entities>		  
			  <priceoffer>
				<table>price_offer</table>
			  </priceoffer>
        </entities>
	  </priceoffer_mysql4>
	</models>
	<resources>
	  <priceoffer_setup>
		<setup>
		  <module>Chronostore_Priceoffer</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </priceoffer_setup>
	  <priceoffer_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </priceoffer_write>
	  <priceoffer_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </priceoffer_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <priceoffer>
	    <use>admin</use>
		<args>
		  <module>Chronostore_Priceoffer</module>
		  <frontName>admin_priceoffer</frontName>
		</args>
	  </priceoffer>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <priceoffer module="priceoffer">
		<title>Priceoffer</title>
		<sort_order>100</sort_order>
		<children>
		  <priceoffer module="priceoffer">
		    <title>Manage Price Offers</title>
			<sort_order>0</sort_order>
			<action>admin_priceoffer/adminhtml_priceoffer</action>
		  </priceoffer>
		</children>
	  </priceoffer>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<priceoffer translate="title" module="priceoffer">
			  <title>Priceoffer</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <priceofferbackend translate="title">
			<title>Price Offer</title>
		  </priceofferbackend>
		  <priceoffer translate="title">
			<title>Manage Priceoffer</title>
			<sort_order>0</sort_order>
		  </priceoffer>
			  </children>
			</priceoffer>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<priceoffer>
		  <file>priceoffer.xml</file>
		</priceoffer>
	  </updates>
	</layout>
  </adminhtml>
</config> 